* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	text-align: center;
	background-color: #3b1f1f;
}

/* Form + Output, Heading width */

.container,
.title {
	min-width: 300px;
	width: 60%;
	max-width: 470px;
	margin-inline: auto;
}

.title {
	padding: 15px 5px;
	margin-block: 180px 0px;
	font-family: Tagesschrift;
	line-height: 40px;
	color: #ffd700;
}

.title > #from-to {
	font-size: 3rem;
}

.title > #functionality {
	font-size: 1.5rem;
}

/* About form */

form {
	margin-block: 30px 40px;
	padding: 30px 0 35px;
	background-color: beige;
	border: 3px solid #ffd700;
	border-radius: 5px;
}

label {
	font-family: Kanchenjunga;
	font-size: 18px;
	color: #2f2f2f;
}

input,
button {
	width: 50%;
}

input {
	display: block;
	margin: 10px auto 25px;
	padding: 5px;
	background-color: beige;
	border: 0;
	border-bottom: 1px solid;
}

button {
	padding: 5px 0 7px;
	background: linear-gradient(white, #ffc200 90%);
	border: 1px solid #ffc300;
	font-family: Kanchenjunga;
	font-size: 15px;
	color: #2f2f2f;

	&:hover {
		cursor: pointer;
		background: linear-gradient(white, #ffc300 70%);
	}
}

/* About output */

.down-arrow {
	margin-inline: auto;
	margin-bottom: 15px;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 30px solid beige;
}

output {
	margin-top: 50px;
	padding: 5px 15px;
	background-color: #ffc300;
	font-family: Kanchenjunga;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.4;
	box-shadow: 0px 0px 3px beige;
	border-radius: 3px;
}

.hidden {
	display: none;
}
